<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="defaultHead">
    <meta charset="UTF-8"/>
    <title>Admin panel</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/admin-template.css"/>
    <link rel="stylesheet" href="/css/utility.css"/>
    <script src="/js/admin-template.js" defer></script>
    <script src="/js/table.js" defer></script>
</head>
<body>
<header th:fragment="header">
    <h2>Dashboard</h2>
</header>

<aside th:fragment="sidebar">
    <div class="menu-container">
        <div class="top-menu">
            <div class="menu"><a href="/admin/home">📈 Dashboard</a></div>
            <div class="menu"><a href="/admin/product">💼 Product</a></div>
            <div class="menu"><a href="/admin/variant">🛍️ Variant</a></div>
            <div class="menu"><a href="/admin/stock">🪙 Stock</a></div>
            <div class="menu"><a href="/admin/type">🗃️ Type</a></div>
        </div>
        <div class="bottom-menu">
            <div class="menu"><a href="#">⬅️ Logout</a></div>
        </div>
    </div>
</aside>
</body>
</html>



