<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin/fragment :: defaultHead}"></head>
  <body>
    <header th:replace="~{admin/fragment :: header}"></header>
    <main>
      <link rel="stylesheet" href="/css/table.css" />

      <aside th:replace="~{admin/fragment :: sidebar}"></aside>
      <section>
        <div class="main-content">
          <h2>All Products</h2>
          <div class="table-header">
            <div class="form-container">
              <form>
                <input type="text" placeholder="Search product..." />
                <input type="submit" value="🔍" />
              </form>
            </div>
            <div class="link-container">
              <a href="/admin/product/add" class="add-btn">Add Product</a>
            </div>
          </div>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Name</th>
                  <th>type</th>
                  <th>brand</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="product : ${products}">
                  <td>
                    <a href="#">🖋️</a>
                    <a href="#">🗑️</a>
                  </td>
                  <td th:text="${product.productName}"></td>
                  <td
                    th:text="${product.types.empty ? 'No type' : #strings.listJoin(product.types, ', ')  }"
                  ></td>
                  <td th:text="${product.productBrand}"></td>
                </tr>
              </tbody>
            </table>
            <div th:replace="~{admin/fragment :: pagination(title='product')}"></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
