<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin/fragment :: defaultHead}"></head>
  <body>
    <header th:replace="~{admin/fragment :: header}"></header>
    <main>
      <link rel="stylesheet" href="/css/table.css" />

      <aside th:replace="~{admin/fragment :: sidebar}"></aside>
      <section>
        <div class="main-content">
          <h2>All Stocks</h2>
          <div class="table-header">
            <div class="form-container">
              <form>
                <input type="text" placeholder="Search variant..." />
                <input type="submit" value="🔍" />
              </form>
            </div>
            <div class="link-container">
              <a href="/admin/stock/add" class="add-btn">Add Stock</a>
            </div>
          </div>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Action</th>
                  <th>Product Name</th>
                  <th>Variant name</th>
                  <th>avaliable stock</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="#">🖋️</a>
                    <a href="#">🗑️</a>
                  </td>
                  <td>Iphone 12</td>
                  <td>blue</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>
                    <a href="#">🖋️</a>
                    <a href="#">🗑️</a>
                  </td>
                  <td>Iphone 13</td>
                  <td>red</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>
                    <a href="#">🖋️</a>
                    <a href="#">🗑️</a>
                  </td>
                  <td>Iphone 13</td>
                  <td>black</td>
                  <td>500</td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
              <div class="page-size">
                <div>
                  <p>Row per page</p>
                  <select name="size" id="page-size">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <p>1-10 of 500 rows</p>
              </div>
              <div class="page-naviagte">
                <a href="#">◀ Previous</a>
                <p><span>1</span> of 10</p>
                <a href="#">Next ▶</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
