<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin/fragment :: defaultHead}"></head>
  <body>
    <link rel="stylesheet" href="/css/add-form.css" />
    <header th:replace="~{admin/fragment :: header}"></header>

    <main>
      <aside th:replace="~{admin/fragment :: sidebar}"></aside>
      <section>
        <div class="main-content">
          <h2>Add Product</h2>
          <div class="form-container">
            <form action="/admin/product/add" method="post">
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" name="productName" />
              </div>
              <div class="form-group">
                <label>Product Type</label>
                <div class="form-control multiselect-input" role="button">
                  Select type...
                </div>
                <div class="multiselect-container d-none">
                  <div class="multiselect-box">
                    <div class="multiselect-item" th:if="${types.empty}">No item found</div>
                    <div class="multiselect-item" th:each="type : ${types}">
                      <input type="checkbox" name="types" th:value="${type.typeId}" />
                      <p th:text="${type.typeName}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Brand</label>
                <input type="text" class="form-control" name="productBrand" />
              </div>
              <div class="btn-group">
                <input type="submit" />
                <a href="/admin/product">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
