<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{admin/fragment :: defaultHead}"></head>
  <body>
    <link rel="stylesheet" href="/css/add-form.css"/>
    <header th:replace="~{admin/fragment :: header}"></header>

    <main>
      <aside th:replace="~{admin/fragment :: sidebar}"></aside>
      <section>
        <div class="main-content">
          <h2>Add Variant</h2>
          <div class="form-container">
            <form action="#" method="post">
              <div class="form-group">
                <label>Product Name</label>
                <input
                  type="text"
                  name="productName"
                  id="productName"
                  list="dwarf-productName"
                  class="form-control"
                />

                <datalist id="dwarf-productName">
                  <option value="123412345">Short shirt (LP)</option>
                  <option value="123412345">T shirt (should store)</option>
                  <option value="123412345">Iphone 13 (Apple)</option>
                  <option value="123412345">Men classic Jean (Buda)</option>
                </datalist>
              </div>
              <div class="form-group">
                <label>Variant Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Variant Description</label>
                <!-- <input type="textar" class="form-control"> -->
                <textarea name="" id="" cols="" rows="1" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label>Variant Price</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Variant Image</label>
                <input type="file" class="form-control">
              </div>
              <div class="btn-group">
                <input type="submit">
                <a href="/admin/variant">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
